* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

/* -------------------------------------- */
.post-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms, transform 500ms;
  transform: translateX(0%);
}
.post-exit {
  opacity: 1;
  transform: translateX(0%);
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
  transform: translateX(100%);
}

.page__wrapper {
  margin-top: 30px;
  display: flex;
}

.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
  font-weight: bold;
}

.page__current {
  background-color: teal;
  color: white;
}

.navbar {
  height: 50px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background: lightgray;
}

.navbar__links {
  margin-left: auto;
}
